@model IEnumerable<Pro.Models.pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.data_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_fim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cupom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.met_pag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.servico)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cupom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.met_pag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.servico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
